extends layout

block content
  - var urlAddress = "http://localhost:3000/todo/"
  a(href= urlAddress)
    button(onclick="") Whole List
  h1 #{title}
  div
    form(action="/todo/done", method="GET")
      for task in list
        input(type="checkbox", name="item", value=task)
        |  #{task}
        br
      input(type="hidden", name="url", value=url)
      br
      input(type="hidden", name="title", value=title)
      br
      input(type="hidden", name="list", value=list)
      br
      input(type="hidden", name="doneList" value=doneList)
      h3 Checked ones are done.
        input(type="submit", value="Agree")
        br
        
  h2 Add Things To Do

  form(action="/todo/update", method="GET")
    input(type="text", name="whatToDo", placeholder="What To Do")
    br
    input(type="submit", value="Add")
    input(type="hidden", name="url", value=url)
    br
    input(type="hidden", name="title", value=title)
    br
    input(type="hidden", name="list", value=list)
    br
    input(type="hidden", name="doneList", value=doneList)
    br
  
  h2 Things Done
  ul
    for done in doneList
      li= done

